{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>SG Hospital Dashboard</title>
    <!-- ======= Styles ====== -->
    <link rel="stylesheet" href="{% static '/css/index.css' %}">
    <link rel="stylesheet" href="{% static '/css/dashboard.css' %}">
</head>
<body>
    <!-- =============== Navigation ================ -->
    <div class="container">
        <div class="navigation">
            <ul>
                <li>
                    <a href="{% url 'index' %}">
                        <span class="icon">
                            <img src="{% static '/images/logo.png' %}" alt="Sudeeksha Groups Hospital Logo">
                        </span>
                        <span class="title">SG Hospital</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'index' %}">
                        <span class="icon">
                            <i class='bx bx-grid-alt' style="color: black; font-size: 25px;"></i>
                        </span>
                        <span class="title">Dashboard</span>
                    </a>
                </li>
                <li class="dropdown">
                    <a href="#">
                        <span class="icon">
                            <img src="{% static 'images/icon/doctors.png' %}" alt="" style="height: 30px; width: 30px;">
                        </span>
                        <span class="title">User</span>
                        <i style="position: relative;top: 20px; display: flex; justify-content: space-between;font-size: 20px;" class='bx bx-chevron-down'></i>
                    </a>
                    <div class="dropdown-menu">
                        <a href="{% url 'adduserdash' %}">Add New User</a>
                        <a href="{% url 'userdash' %}">View User</a>
                    </div>
                </li>                
                <li class="dropdown">
                    <a href="#">
                        <span class="icon">
                            <img src="{% static 'images/icon/medical.png' %}" alt="" style="height: 30px; width: 30px;">
                        </span>
                        <span class="title">Patient</span>
                        <i style="position: relative;top: 20px; display: flex; justify-content: space-between;font-size: 20px;" class='bx bx-chevron-down'></i>
                    <div class="dropdown-menu">
                        <a href="{% url 'addpat' %}">Add New Patient</a>
                        <a href="{% url 'patientdash' %}">View Patients</a>
                    </div>
                </li>

                <li class="dropdown">
                    <a href="#">
                        <span class="icon">
                            <img src="{% static 'images/icon/calendar.png' %}" alt="" style="height: 30px; width: 30px;">
                        </span>
                        <span class="title">Appointment</span>
                        <i style="position: relative;top: 20px; display: flex; justify-content: space-between;font-size: 20px;" class='bx bx-chevron-down'></i>
                    </a>
                    <div class="dropdown-menu">
                        <a href="{% url 'addappo' %}">Add New Appointment</a>
                        <a href="{% url 'appostaff' %}">View Appointment</a>
                        <a href="#">Doctor Schedule</a>
                    </div>
                </li>
                

                <li class="dropdown">
                    <a href="#">
                        <span class="icon">
                            <img src="{% static 'images/icon/ct-scan.png' %}" alt="" style="height: 30px; width: 30px;">
                        </span>
                        <span class="title">Laboratory</span>
                        <i style="position: relative;top: 20px; display: flex; justify-content: space-between;font-size: 20px;" class='bx bx-chevron-down'></i>
                    </a>
                    <div class="dropdown-menu">
                        <a href="{% url 'Equipdash'%}">Lab Equipment</a>
                        <a href="{% url 'Labdash' %}">Lab Service</a>
                        <a href="{% url 'Meddash' %}">medical record</a>
                        <a href="{% url 'report' %}">Report</a>
                    </div>
                </li>
                
                <li class="dropdown">
                    <a href="#">
                        <span class="icon">
                            <i class='bx bx-plus-medical' style="color: black; font-size: 25px;"></i>
                        </span>
                        <span class="title">Pharmacy</span>
                        <i style="position: relative;top: 20px; display: flex; justify-content: space-between;font-size: 20px;" class='bx bx-chevron-down'></i>
                    <div class="dropdown-menu">
                        <a href="{% url 'addpharm' %}">Add New Medicine</a>
                        <a href="{% url 'pharmdash' %}">View Medicines</a>
                        <a href="{% url 'addin' %}">Add New Inventory</a>
                        <a href="{% url 'inventstaff' %}">View Inventory</a>
                    </div>
                </li>
                
                <li class="dropdown">
                    <a href="#">
                        <span class="icon">
                            <i class='bx bx-bed' style="color: black; font-size: 25px;"></i>
                        </span>
                        <span class="title">Ward</span>
                        <i style="position: relative;top: 20px; display: flex; justify-content: space-between;font-size: 20px;" class='bx bx-chevron-down'></i>
                    </a>
                    <div class="dropdown-menu">
                        <a href="{% url 'addward' %}"> Add Wards</a>
                        <a href="{% url 'warddash' %}">View Ward</a>
                        <a href="{% url 'addbed' %}">Add Bed</a>
                        <a href="{% url 'beddash' %}">View Bed</a>
                    </div>
                </li>

                <li class="dropdown">
                    <a href="#">
                        <span class="icon">
                            <img src="{% static 'images/icon/bill.png' %}" alt="" style="height: 30px; width: 30px;">
                        </span>
                        <span class="title">Payment</span>
                        <i style="position: relative;top: 20px; display: flex; justify-content: space-between;font-size: 20px;" class='bx bx-chevron-down'></i>
                    </a>
                    <div class="dropdown-menu">
                        <a href="{% url 'addpay' %}">payment</a>
                        <a href="{% url 'paydash' %}">view payment</a>
                        <a href="{% url 'invoice' %}">print payment</a>
                    </div>
                </li>

                <li>
                    <a href="#">
                        <span class="icon">
                            <ion-icon name="log-out-outline"style="color: black;"></ion-icon>
                        </span>
                        <span class="title">Sign Out</span>
                    </a>
                </li>>
            </ul>
        </div>

        <!-- ========================= Main ==================== -->
        <div class="main">
            <div class="topbar">
                <div class="toggle">
                    <ion-icon name="menu-outline"></ion-icon>
                </div>
                <div class="search">
                    <label>
                        <input type="text" placeholder="Search here">
                        <ion-icon name="search-outline"></ion-icon>
                    </label>
                </div>
                <i class='bx bx-message-detail'style="color: black; font-size: 25px; position: relative;"></i>
                <i class='bx bxs-bell'style="color: black; font-size: 25px;"></i>
                <span style="right: 20%;">Hello, Roberto</span>
                <div class="user">
                    <img src="{% static '/images/doctors/doctor 1.jpg' %}" alt="">
                </div>
            </div>

            <!-- Dashboard Content -->
            <div class="wrapper">
                <!-- Main content -->
                <div class="main-content">

                    <div class="content">
                        <div class="breadcrumb">
                            <span>Dashboard / Appointment</span>
                        </div>

                        <div class="top-bar">
                            <div class="search-bar">
                                <input type="text" placeholder="Search here" id="search">
                                <button><i class='bx bx-search-alt-2' ></i></button>
                            </div>
                            <div class="actions">
                                <button class="btn green" id="newAppointmentBtn"><a href="{% url 'addpharm' %}"style="color: white;"> Add Pharmacy</a></button>
                                <button class="btn green" id="filterBtn">Filter</button> 
                                <div class="filter-options" id="filterOptions" style="display: none;">
                                    <button onclick="sortTable('name', 'asc')">Sort A-Z</button>
                                    <button onclick="sortTable('name', 'desc')">Sort Z-A</button>
                                    <button onclick="sortTable('date', 'asc')">Oldest</button>
                                    <button onclick="sortTable('date', 'desc')">Newest</button>
                                </div>
                            </div>
                        </div>

                       
                        <table class="appointments-table" id="pharmacyTable">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Pharmacy_ID</th>
                                    <th>Drug_name</th>
                                    <th>Quantity</th>
                                    <th>Expiry_date</th>
                                    <th>Supplier</th>
                                    <th>Cost</th>
                                    <th>Action</th>
                                  
                                </tr>
                            </thead>
                            <tbody>
                                <!-- Iterate over appointments and display them -->
                                {% for obj in userdata %}
                                <tr>
                                    <td><input type="checkbox"></td>
                                    <td>{{ obj.pharmacy_id }}</td>
                                    <td>{{ obj.drug_name }}</td>
                                    <td>{{ obj.quantity }}</td>
                                    <td>{{ obj.expiry_date }}</td>
                                    <td>{{ obj.supplier }}</td>
                                    <td>{{ obj.cost }}</td>
                                   
                                    <td>
                                        <button class="edit" onclick="editRow(this)"><i class='bx bx-edit' style="font-size: 20px;"></i></button>
                                        <button class="delete" onclick="deleteRow(this)"><i class='bx bx-comment-x' style="font-size: 20px;"></i></button>
                                    </td>
                                </tr>
                                {% empty %}
                                <tr>
                                    <td colspan="10">No records found.</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                        <div class="pagination">
                            <span>Showing 1 to {{ userdata|length }} of {{ userdata|length }} entries</span>
                            <div class="pagination-controls">
                                <button class="previous">Previous</button>
                                <button class="next">Next</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Edit Popup -->
            <div class="edit-popup" id="editPopup">
                <div class="popup-content">
                    <h2>Edit Pharmacy</h2>
                    <label for="editPharmacy_Id">Pharmacy_ID</label>
                    <input type="text" id="editPharmacy_Id">
                    <label for="editName">Drug_Name</label>
                    <input type="text" id="editName">
                    <label for="editFrom">Quantity</label>
                    <input type="text" id="editFrom">
                    <label for="editTo">Expiry_date</label>
                    <input type="number" id="editTo">
                    <label for="editSupplier">Supplier</label>
                    <input type="text" id="editSupplier">
                    <label for="editCost">Cost</label>
                    <input type="text" id="editCost">
                    <label for="editCreated">Created_at</label>
                    <input type="text" id="editCreated">
                    <label for="editUpdated">Updated_at</label>
                    <input type="text" id="editUpdated">
                    <button class="btn green" onclick="saveEdit()">Save</button>
                    <button class="btn red" onclick="closeEditPopup()">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <!-- =========== Scripts =========  -->
    <script src="{% static '/js/main.js' %}"></script>
    <script src="{% static 'js/pharm-staff.js' %}"></script>

    <!-- ====== ionicons ======= -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>
