{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <title>Add ward - SG Hospital</title>
    <link rel="stylesheet" href="{% static '/css/index.css' %}">
    <link rel="stylesheet" href="{% static '/css/add_ward.css' %}">
</head>
<body>
    <!-- =============== Navigation ================ -->
    <div class="container">
        <div class="navigation">
            <ul>
                <li>
                    <a href="/adminsite/index">
                        <span class="icon">
                            <img src="{% static '/images/logo.png' %}" alt="Sudeeksha Groups Hospital Logo">
                        </span>
                        <span class="title">SG Hospital</span>
                    </a>
                </li>
                <li>
                    <a href="/adminsite/index">
                        <span class="icon">
                            <i class='bx bx-grid-alt' style="color: black; font-size: 25px;"></i>
                        </span>
                        <span class="title">Dashboard</span>
                    </a>
                </li>
                <li class="dropdown">
                    <a href="#">
                        <span class="icon">
                            <img src="{% static 'images/icon/doctors.png' %}" alt="" style="height: 30px; width: 30px;">
                        </span>
                        <span class="title">User</span>
                        <i style="position: relative;top: 20px; display: flex; justify-content: space-between;font-size: 20px;" class='bx bx-chevron-down'></i>
                    </a>
                    <div class="dropdown-menu">
                        <a href="/adminsite/adduserdash">Add New User</a>
                        <a href="/adminsite/userdash">View User</a>
                    </div>
                </li>
                <li class="dropdown">
                    <a href="#">
                        <span class="icon">
                            <img src="{% static 'images/icon/doctors.png' %}" alt="" style="height: 30px; width: 30px;">
                        </span>
                        <span class="title">Doctor</span>
                        <i style="position: relative;top: 20px; display: flex; justify-content: space-between;font-size: 20px;" class='bx bx-chevron-down'></i>
                    </a>
                    <div class="dropdown-menu">
                        <a href="/adminsite/adddoc">Add New Doctor</a>
                        <a href="/adminsite/docdash">View Doctor</a>
                    </div>
                </li>
                
                <li class="dropdown">
                    <a href="#">
                        <span class="icon">
                            <img src="{% static 'images/icon/medical.png' %}" alt="" style="height: 30px; width: 30px;">
                        </span>
                        <span class="title">Patient</span>
                        <i style="position: relative;top: 20px; display: flex; justify-content: space-between;font-size: 20px;" class='bx bx-chevron-down'></i>
                    <div class="dropdown-menu">
                        <a href="/adminsite/addpat">Add New Patient</a>
                        <a href="/adminsite/patientdash">View Patients</a>
                    </div>
                </li>
                
                <li class="dropdown">
                    <a href="#">
                        <span class="icon">
                            <img src="{% static 'images/icon/teamwork.png' %}" alt="" style="height: 30px; width: 30px;">
                        </span>
                        <span class="title">Staff</span>
                        <i style="position: relative;top: 20px; display: flex; justify-content: space-between;font-size: 20px;" class='bx bx-chevron-down'></i>
                    <div class="dropdown-menu">
                        <a href="/adminsite/addstaff">Add New Staff</a>
                        <a href="/adminsite/staffdash">View Staff</a>
                    </div>
                </li>

                <li class="dropdown">
                    <a href="#">
                        <span class="icon">
                            <img src="{% static 'images/icon/calendar.png' %}" alt="" style="height: 30px; width: 30px;">
                        </span>
                        <span class="title">Appointment</span>
                        <i style="position: relative;top: 20px; display: flex; justify-content: space-between;font-size: 20px;" class='bx bx-chevron-down'></i>
                    </a>
                    <div class="dropdown-menu">
                        <a href="/adminsite/addappodash">Add New Appointment</a>
                        <a href="/adminsite/appodash">View Appointment</a>
                        <a href="#">Doctor Schedule</a>
                    </div>
                </li>
                

                <li class="dropdown">
                    <a href="#">
                        <span class="icon">
                            <img src="{% static 'images/icon/ct-scan.png' %}" alt="" style="height: 30px; width: 30px;">
                        </span>
                        <span class="title">Laboratory</span>
                        <i style="position: relative;top: 20px; display: flex; justify-content: space-between;font-size: 20px;" class='bx bx-chevron-down'></i>
                    </a>
                    <div class="dropdown-menu">
                        <a href="/adminsite/Equipdash">Lab Equipment</a>
                        <a href="/adminsite/Labdash">Lab Service</a>
                        <a href="/adminsite/Meddash">medical record</a>
                        <a href="/adminsite/report">Report</a>
                    </div>
                </li>
                
                <li class="dropdown">
                    <a href="#">
                        <span class="icon">
                            <i class='bx bx-plus-medical' style="color: black; font-size: 25px;"></i>
                        </span>
                        <span class="title">Pharmacy</span>
                        <i style="position: relative;top: 20px; display: flex; justify-content: space-between;font-size: 20px;" class='bx bx-chevron-down'></i>
                    <div class="dropdown-menu">
                        <a href="/adminsite/addpharm">Add New Medicine</a>
                        <a href="/adminsite/pharmdash">View Medicines</a>
                        <a href="/adminsite/addinventdash">Add New Inventory</a>
                        <a href="/adminsite/inventdash">View Inventory</a>
                    </div>
                </li>
                
                <li class="dropdown">
                    <a href="#">
                        <span class="icon">
                            <i class='bx bx-bed' style="color: black; font-size: 25px;"></i>
                        </span>
                        <span class="title">Ward</span>
                        <i style="position: relative;top: 20px; display: flex; justify-content: space-between;font-size: 20px;" class='bx bx-chevron-down'></i>
                    </a>
                    <div class="dropdown-menu">
                        <a href="/adminsite/addward"> Add Wards</a>
                        <a href="/adminsite/warddash">View Ward</a>
                        <a href="/adminsite/addbed">Add Bed</a>
                        <a href="/adminsite/beddash">View Bed</a>
                    </div>
                </li>

                <li class="dropdown">
                    <a href="#">
                        <span class="icon">
                            <img src="{% static 'images/icon/bill.png' %}" alt="" style="height: 30px; width: 30px;">
                        </span>
                        <span class="title">Payment</span>
                        <i style="position: relative;top: 20px; display: flex; justify-content: space-between;font-size: 20px;" class='bx bx-chevron-down'></i>
                    </a>
                    <div class="dropdown-menu">
                        <a href="/adminsite/addpay">payment</a>
                        <a href="/adminsite/paydash">view payment</a>
                        <a href="/adminsite/invoice">print payment</a>
                    </div>
                </li>

                <li>
                    <a href="#">
                        <span class="icon">
                            <ion-icon name="log-out-outline"style="color: black;"></ion-icon>
                        </span>
                        <span class="title">Sign Out</span>
                    </a>
                </li>>
            </ul>
        </div>

        <!-- ========================= Main ==================== -->
        <div class="main">
            <div class="topbar">
                <div class="toggle">
                    <ion-icon name="menu-outline"></ion-icon>
                </div>

                <div class="search">
                    <label>
                        <input type="text" placeholder="Search here">
                        <ion-icon name="search-outline"></ion-icon>
                    </label>
                </div>

                <i class='bx bx-message-detail' ></i>
                <i class='bx bxs-bell'></i>

                <span>Hello, {{ currentuser}}</span>
                <div class="user">
                    <img src="{% static 'images/doctors/doctor 1.jpg' %}" alt="">
                </div>
            </div>

            <!-- Add Appointment Form -->
            <div class="page-title">

                <div class="pull-left">
                    <!-- PAGE HEADING TAG - START -->
                    <h1 class="title">Add Appointment</h1>
                    <!-- PAGE HEADING TAG - END -->
                </div>

                <div class="pull-right hidden-xs">
                    <ol class="breadcrumb">
                        <li>
                            <a href="{% url 'index' %}"><i class="fa fa-home"></i> Home </a>
                        </li>
                        <li>
                            <a href="{% url 'warddash' %}"> Ward </a>
                        </li>
                        <li class="active">
                            <strong>Add Ward</strong>
                        </li>
                    </ol>
                </div>

            </div>
            <div class="wrapper">
                <div class="glassmorphism-container">
                    <h1>Add ward</h1>
                    <form id="addwardForm">

                        <label for="patientID"> Patient ID:</label>
                        <input type="text" id="patientID" required>

                       

                        <label for="doctorName">Doctor Name:</label>
                        <input type="text" id="doctorName" required>

                        <label for="floorno">floor No:</label>
                        <input type="text" id="floorno" required>

                        <label for="Quantity">Quantity:</label>
                        <input type="text" id="Quantity" required>

                        <label for="Avalaibality">Avalaibality:</label>
                        <input type="text" id="Avalaibality" required>

                        

                        <button type="submit" class="btn green">Add ward</button>
                        <button type="button" class="btn red" onclick="window.location.href='#'">Cancel</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- =========== Scripts =========  -->
    <script src="{% static '/js/add_ward.js' %}"></script>
    <script src="{% static '/js/main.js' %}"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script>
        $(document).ready(function() {
            $('#addwardForm').on('submit', function(event) {
                event.preventDefault();
        
                var patientID = $('#patientID').val();
                
                var doctorName = $('#doctorName').val();
                var floorno = $('#floorno').val();
                var Quantity = $('#Quantity').val();
                var Avalaibality = $('#Avalaibality').val();

        
                // Basic validation (optional, you can customize this)
                if (!patientID || !doctorName || !floorno || !Quantity ||  !Avalaibality) {
                    alert('Please fill in all fields.');
                    return;
                }
        
                // Example AJAX request (change URL to your server endpoint)
                $.ajax({
                    type: "POST",
                    url: "{% url 'add_ward' %}", // Endpoint in updated URLs
                    data: {
                        
                        patientID: patientID,
                        doctorName: doctorName,
                        floorno: floorno,
                        Quantity: Quantity,
                        Avalaibality:Avalaibality,
                        csrfmiddlewaretoken: '{{ csrf_token }}' // Add CSRF token for Django
                    },
                    success: function(response) {
                        alert('ward added successfully!');
                        window.location.href = '{% url "warddash" %}'; // Redirect to view appointments
                    }
                    
                });
            });
        });
    </script>
</body>
</html>
