<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    </head>
    <body>
        
        <table class="table" style="border: 1px solid black;" >
            <thead>
                <tr style="background-color: blueviolet; color : white" >
                    <td>username</td>
                    <td>password</td>
                    <td>user type</td>
                    
                </tr>
            </thead>
            <tbody>
                {% for obj in userdata %}
                <tr>
                    <td>{{ obj.username }}</td>
                    <td>{{ obj.password }}</td>
                    <td>{{ obj.utype }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
</html>